body {
  background: #F4F5F4;
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  color: #017089;
}

.content {
  padding-top: 1em;
}

img {
  width: 60%;
}

#highlight {
  font-weight: bold;
}

#footer {
  padding-top: 2em;
}
